<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itant.zhuling">

    <!--必须的权限开始-->
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--必须的权限结束-->

    <!--拍照设置头像-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--Bmob-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <!--android:label="@string/app_name"-->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ZhuApplication"
        tools:replace="android:icon">
        <!-- 防止与lib包中的属性冲突 -->

        <!-- 欢迎界面 -->
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.TransAppTheme"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <!--防止应用启动两次-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 开启硬件加速，加快WebView等界面速度 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!-- 新闻详情 -->
        <activity
            android:name=".ui.tab.news.detail.NewsDetailActivity"
            android:theme="@style/AppTheme.ZhuNoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 需要设置主题为没有ActivonBar的，否则在Activity内调用setSupportActionBar(toolbar);会出错 -->


        <!--通知-->
        <activity android:name=".ui.navigation.notice.NoticeActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>

        <!--反馈界面-->
        <activity android:name=".ui.navigation.feedback.FeedbackActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>

        <!-- ===========更多======== -->
        <activity
            android:name=".ui.navigation.more.MoreActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>

        <!--开源-->
        <activity android:name=".ui.navigation.more.open.OpenActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>

        <!--更新日志-->
        <activity android:name=".ui.navigation.more.log.UpdateLogActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>

        <!-- ===========关于========== -->
        <activity
            android:name=".ui.navigation.about.AboutActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>

        <!-- 捐助界面 -->
        <activity
            android:name=".ui.navigation.about.contents.DonateActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>

        <!--微博界面-->
        <activity android:name=".ui.navigation.about.contents.WeiboActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>

        <!--使用帮助界面-->
        <activity android:name=".ui.navigation.about.contents.HelpActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>


        <!--妹子界面-->
        <activity android:name=".ui.tab.advanced.meizhi.MeizhiActivity"
            android:theme="@style/AppTheme.CommonActivityTheme"
            android:screenOrientation="portrait"/>


        <!--设置这个provider是由于谷歌的新特性，sdk版本>=24必须设置这个东西才能正常拍照裁剪图片-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.itant.zhuling.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>